@page
@model Loggma1.Pages.DenemeModel

<!DOCTYPE html>
<html>
<head>
    <title>Müşteri Listesi</title>
</head>
<body>
    <h1>Müşteri Listesi</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Adres</th>
                <th>T.C. Kimlik Numarası</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.id</td>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.Address</td>
                    <td>@client.IdentityNumber</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
