@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Loggma1.Pages.Clients.IndexModel
@{
}
<br>
<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-primary btn-sm">@Localizer["Logout"]</button>
</form>
<form method="post">
    <div class="form-group">
        <label for="SearchTerm">@Localizer["Search"]:</label>
        <input type="text" id="SearchTerm" class="form-control" placeholder=@Localizer["Write Here"] asp-for="SearchTerm">
    </div>

    <div class="form-group">
        <label for="SearchBy">@Localizer["Filter:"]</label>
        <select id="SearchBy" class="form-control" asp-for="SearchBy">
            <option value="name">@Localizer["Name"]</option>
            <option value="email">@Localizer["E-mail"]</option>
            <option value="phone">@Localizer["Phone"]</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
</form>

<h2>@Localizer["List of Clients"]</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>@Localizer["New Client"]</a>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["ID"]</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Phone"]</th>
            <th>@Localizer["Address"]</th>
            <th>@Localizer["Identity Number"]</th> 
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.IdentityNumber</td> 
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="/Clients/Edit" asp-route-id="@item.id">@Localizer["Edit"]</a>
                    <a class="btn btn-danger btn-sm" asp-page="/Clients/Delete" asp-route-id="@item.id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
